@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
  color: #fcfcfc
}

html, body{
  height: 100%;
  width: 100%;
  background-color: #111;
}